In [2]:
import pandas as pd

In [3]:
csv_data = pd.read_csv(
    './assets/IHME-GBD_2017_DATA-37d305ef-1.csv',
    error_bad_lines=False
)
df = pd.DataFrame(csv_data)

In [4]:
del df['measure_id']
del df['measure_name']
df['location_id'] = df['location_id'].fillna(0)
df['location_name'] = df['location_name'].fillna('unknown')
df['sex_id'] = df['sex_id'].fillna(0)
df['sex_name'] = df['sex_name'].fillna('unknown')
del df['age_id']
del df['age_name']
del df['cause_id']
del df['cause_name']
del df['metric_id']
del df['metric_name']
df['year'] = df['year'].fillna(0)
df['val'] = df['val'].fillna(0)
df['upper'] = df['upper'].fillna(0)
df['lower'] = df['lower'].fillna(0)
df['sex_percentage'] = 1.0

In [61]:
df.head(10)

,location_id,location_name,sex_id,sex_name,year,val,upper,lower,sex_percentage
0,108,Belize,1,Male,1990,0.111066,0.134317,0.090071,1.0
1,108,Belize,2,Female,1990,0.052717,0.062200,0.043408,1.0
2,108,Belize,3,Both,1990,0.082243,0.094777,0.069078,1.0
3,7,North Korea,1,Male,1990,0.627025,0.912639,0.363522,1.0
4,7,North Korea,2,Female,1990,0.249210,0.348083,0.160998,1.0
5,7,North Korea,3,Both,1990,0.426544,0.579862,0.278203,1.0
6,133,Venezuela,1,Male,1990,0.277605,0.326285,0.233146,1.0
7,133,Venezuela,2,Female,1990,0.117293,0.133007,0.098561,1.0
8,133,Venezuela,3,Both,1990,0.197173,0.222632,0.171501,1.0
9,184,Mozambique,1,Male,1990,0.385147,0.612079,0.157109,1.0

In [5]:
for country in df['location_name'].unique():
    for year in df['year'].unique(): 
        df_current = df[(df['location_name']==country) & (df['year']==year)]
        male_rate = float(df_current[(df['sex_id']==1)]['val'])
        female_rate = float(df_current[(df['sex_id']==2)]['val'])
        both_rate = float(df_current[(df['sex_id']==3)]['val'])
        female_percentage = (female_rate*(both_rate-male_rate))/(both_rate*(female_rate-male_rate))
        male_percentage = 1 - female_percentage
        df.at[df_current.index[0], 'sex_percentage'] = male_percentage
        df.at[df_current.index[0]+1, 'sex_percentage'] = female_percentage

/Users/benjaminhurst/.local/share/virtualenvs/opioid_study-oZUPmX6j/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/Users/benjaminhurst/.local/share/virtualenvs/opioid_study-oZUPmX6j/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
/Users/benjaminhurst/.local/share/virtualenvs/opioid_study-oZUPmX6j/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [5]:
df.head(20)

,location_id,location_name,sex_id,sex_name,year,val,upper,lower,sex_percentage
0,108,Belize,1,Male,1990,0.111066,0.134317,0.090071,0.683366
1,108,Belize,2,Female,1990,0.052717,0.062200,0.043408,0.316634
2,108,Belize,3,Both,1990,0.082243,0.094777,0.069078,1.000000
3,7,North Korea,1,Male,1990,0.627025,0.912639,0.363522,0.689975
4,7,North Korea,2,Female,1990,0.249210,0.348083,0.160998,0.310025
5,7,North Korea,3,Both,1990,0.426544,0.579862,0.278203,1.000000
6,133,Venezuela,1,Male,1990,0.277605,0.326285,0.233146,0.701541
7,133,Venezuela,2,Female,1990,0.117293,0.133007,0.098561,0.298459
8,133,Venezuela,3,Both,1990,0.197173,0.222632,0.171501,1.000000
9,184,Mozambique,1,Male,1990,0.385147,0.612079,0.157109,0.881397
10,184,Mozambique,2,Female,1990,0.048429,0.067559,0.026522,0.118603
11,184,Mozambique,3,Both,1990,0.211082,0.323935,0.095380,1.000000
12,58,Estonia,1,Male,1990,1.825310,2.091568,1.572103,0.829537
13,58,Estonia,2,Female,1990,0.329446,0.375329,0.286948,0.170463
14,58,Estonia,3,Both,1990,1.028927,1.158477,0.910879,1.000000
15,83,Iceland,1,Male,1990,1.645335,1.972045,1.353989,0.638595
16,83,Iceland,2,Female,1990,0.939015,1.061402,0.823691,0.361405
17,83,Iceland,3,Both,1990,1.293659,1.461747,1.121928,1.000000
18,179,Ethiopia,1,Male,1992,0.236901,0.357953,0.084490,0.636953
19,179,Ethiopia,2,Female,1992,0.136109,0.201223,0.064547,0.363047

In [8]:
df_females = df[(df['year']==2017) & (df['sex_id']==3)]

In [11]:
df_females.sort_values(by=['val'])

,location_id,location_name,sex_id,sex_name,year,val,upper,lower,sex_percentage
16038,435,South Sudan,1,Male,2017,0.099879,0.187869,0.032879,0.830633
15735,179,Ethiopia,1,Male,2017,0.139989,0.232117,0.052962,0.745278
16362,141,Egypt,1,Male,2017,0.153226,0.197976,0.115842,0.810127
15558,175,Burundi,1,Male,2017,0.156024,0.272124,0.054191,0.818917
15615,28,Solomon Islands,1,Male,2017,0.160466,0.261981,0.064707,0.699042
16224,187,Somalia,1,Male,2017,0.178959,0.324129,0.071630,0.877073
15984,185,Rwanda,1,Male,2017,0.181339,0.291644,0.082483,0.833335
15249,26,Papua New Guinea,1,Male,2017,0.185665,0.313710,0.048513,0.770249
16020,30,Vanuatu,1,Male,2017,0.193304,0.340400,0.068307,0.763273
15663,181,Madagascar,1,Male,2017,0.194186,0.308689,0.090191,0.792410
16290,68,South Korea,1,Male,2017,0.198062,0.231510,0.168025,0.624452
16131,190,Uganda,1,Male,2017,0.201076,0.313528,0.114070,0.870958
15870,27,Samoa,1,Male,2017,0.216034,0.317600,0.113712,0.625004
16185,164,Nepal,1,Male,2017,0.229076,0.342462,0.121076,0.766003
16026,19,Timor-Leste,1,Male,2017,0.246797,0.382264,0.116562,0.723300
15807,11,Indonesia,1,Male,2017,0.250156,0.285032,0.185055,0.671991
15795,10,Cambodia,1,Male,2017,0.258972,0.369589,0.155458,0.739263
15330,23,Kiribati,1,Male,2017,0.268680,0.490936,0.079409,0.749699
16203,69,Singapore,1,Male,2017,0.275743,0.318602,0.234467,0.682163
15510,151,Qatar,1,Male,2017,0.284638,0.370529,0.211766,0.900806
16284,67,Japan,1,Male,2017,0.312959,0.334028,0.293009,0.428711
15960,136,Paraguay,1,Male,2017,0.318848,0.413452,0.238314,0.704354
16329,213,Niger,1,Male,2017,0.321085,0.544379,0.166821,0.822107
15621,180,Kenya,1,Male,2017,0.335447,0.460893,0.245288,0.950458
16089,182,Malawi,1,Male,2017,0.341077,0.511426,0.190991,0.882106
15588,12,Laos,1,Male,2017,0.351622,0.504370,0.176395,0.749479
16050,14,Maldives,1,Male,2017,0.353439,0.484659,0.218587,0.867077
16200,211,Mali,1,Male,2017,0.353890,0.577571,0.201348,0.798729
15657,131,Nicaragua,1,Male,2017,0.362403,0.473562,0.286281,0.609020
15798,85,Israel,1,Male,2017,0.365385,0.426320,0.310554,0.606225
...,...,...,...,...,...,...,...,...,...
16311,37,Kyrgyzstan,1,Male,2017,2.509370,2.951253,2.163335,0.776003
15300,202,Cameroon,1,Male,2017,2.524353,3.345624,1.698464,0.886043
15969,82,Greece,1,Male,2017,2.534104,2.913368,2.197369,0.840837
16002,385,Puerto Rico,1,Male,2017,2.575941,3.074977,2.147108,0.756565
15858,154,Tunisia,1,Male,2017,2.593197,3.429719,1.891630,0.798318
15570,50,Montenegro,1,Male,2017,2.829308,3.345971,2.342074,0.705352
16221,197,Swaziland,1,Male,2017,2.893970,4.045087,1.975524,0.793569
15546,207,Ghana,1,Male,2017,2.932552,3.710003,2.243495,0.952655
16155,139,Algeria,1,Male,2017,2.961323,3.649435,2.256423,0.717079
16152,84,Ireland,1,Male,2017,3.061519,3.697686,2.524626,0.764261
15789,78,Denmark,1,Male,2017,3.171883,3.648160,2.703638,0.752069
16305,93,Sweden,1,Male,2017,3.196610,3.586484,2.828999,0.832722
16122,59,Latvia,1,Male,2017,3.405193,4.083310,2.769286,0.825384
16338,95,United Kingdom,1,Male,2017,3.752880,3.956256,3.560874,0.770646
15852,203,Cape Verde,1,Male,2017,3.839733,5.193586,3.024689,0.920255
16374,90,Norway,1,Male,2017,3.878455,4.333086,3.520894,0.774713
16209,71,Australia,1,Male,2017,4.100338,4.947907,3.378137,0.747034
15927,79,Finland,1,Male,2017,4.180987,4.871648,3.554889,0.796953
15525,57,Belarus,1,Male,2017,4.709525,5.787943,3.858719,0.750695
15900,101,Canada,1,Male,2017,5.008996,5.827296,4.250928,0.689889
16341,146,Lebanon,1,Male,2017,5.195962,6.575632,4.065280,0.742428
15636,36,Kazakhstan,1,Male,2017,5.232632,6.118458,4.463960,0.817054
16212,63,Ukraine,1,Male,2017,5.277345,6.071765,4.610535,0.838439
16086,60,Lithuania,1,Male,2017,5.620137,6.479079,4.823678,0.866809
16365,142,Iran,1,Male,2017,5.915981,6.518336,5.582490,0.839101
15612,156,United Arab Emirates,1,Male,2017,7.173153,9.714108,5.031084,0.917754
16116,62,Russian Federation,1,Male,2017,7.477044,8.023515,7.012549,0.787242
15804,58,Estonia,1,Male,2017,9.241272,11.826652,7.275460,0.881074
16314,147,Libya,1,Male,2017,11.047638,15.174900,7.619245,0.780314
15471,102,United States,1,Male,2017,19.550164,20.962672,18.438986,0.660354