In [10]:
import pandas as pd

In [11]:
csv_data = pd.read_csv(
    './assets/IHME-GBD_2017_DATA-37d305ef-1.csv',
    error_bad_lines=False
)
df = pd.DataFrame(csv_data)

In [12]:
del df['measure_id']
del df['measure_name']
df['location_id'] = df['location_id'].fillna(0)
df['location_name'] = df['location_name'].fillna('unknown')
df['sex_id'] = df['sex_id'].fillna(0)
df['sex_name'] = df['sex_name'].fillna('unknown')
del df['age_id']
del df['age_name']
del df['cause_id']
del df['cause_name']
del df['metric_id']
del df['metric_name']
df['year'] = df['year'].fillna(0)
df['val'] = df['val'].fillna(0)
df['upper'] = df['upper'].fillna(0)
df['lower'] = df['lower'].fillna(0)
df['sex_percentage'] = 1.0

In [13]:
df['year'].unique()

array([1990, 1992, 1991, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017])

In [14]:
df.count()['location_id'] + 1

16381

In [15]:
for year in df['year'].unique():
    for sex in df['sex_id'].unique():
        df_current = df[(df['sex_id']==sex) & (df['year']==year)].sort_values(by=['val'], ascending=False).reset_index()
        for index, row in df_current.iterrows():
            df.at[row['index'], 'rank'] = index + 1

In [16]:
df_world = pd.DataFrame(columns=['location_id', 'location_name', 'sex_id', 'sex_name', 'year', 'val', 'upper', 'lower', 'rank', 'sex_percentage'])

index = df.count()['location_id']

for year in df['year'].unique():
    for sex in df['sex_id'].unique():
        df_world.at[index, 'location_id'] = int(0)
        df_world.at[index, 'location_name'] = 'World'
        df_world.at[index, 'sex_id'] = int(sex)
        df_world.at[index, 'sex_name'] = 'Male' if sex == 1 else 'Female' if sex == 2 else 'Both'
        df_world.at[index, 'year'] = int(year)
        df_world.at[index, 'val'] = df[(df['sex_id'] == sex) & (df['year'] == year)]['val'].mean()
        df_world.at[index, 'upper'] = df[(df['sex_id'] == sex) & (df['year'] == year)]['upper'].mean()
        df_world.at[index, 'lower'] = df[(df['sex_id'] == sex) & (df['year'] == year)]['lower'].mean()
        df_world.at[index, 'rank'] = int(0)
        df_world.at[index, 'sex_percentage'] = 1.0
        index += 1

df = df.append(df_world, sort=True)

In [17]:
df_world.head(10)

,location_id,location_name,sex_id,sex_name,year,val,upper,lower,rank,sex_percentage
16380,0,World,1,Male,1990,0.808026,1.01103,0.62223,0,1
16381,0,World,2,Female,1990,0.207061,0.256045,0.160143,0,1
16382,0,World,3,Both,1990,0.506177,0.615114,0.402634,0,1
16383,0,World,1,Male,1992,0.92377,1.13863,0.728825,0,1
16384,0,World,2,Female,1992,0.227739,0.278561,0.179519,0,1
16385,0,World,3,Both,1992,0.574216,0.689072,0.466528,0,1
16386,0,World,1,Male,1991,0.862912,1.07198,0.671625,0,1
16387,0,World,2,Female,1991,0.215708,0.265314,0.168327,0,1
16388,0,World,3,Both,1991,0.537849,0.649795,0.431973,0,1
16389,0,World,1,Male,1993,0.988768,1.21021,0.788271,0,1

In [18]:
for country in df['location_name'].unique():
    for year in df['year'].unique(): 
        df_current = df[(df['location_name']==country) & (df['year']==year)]
        male_rate = list(df_current[(df['sex_id']==1)]['val'])[0]
        female_rate = list(df_current[(df['sex_id']==2)]['val'])[0]
        both_rate = list(df_current[(df['sex_id']==3)]['val'])[0]
        female_percentage = (female_rate*(both_rate-male_rate))/(both_rate*(female_rate-male_rate))
        male_percentage = 1 - female_percentage
        df.at[df_current.index[0], 'sex_percentage'] = male_percentage
        df.at[df_current.index[0]+1, 'sex_percentage'] = female_percentage

/Users/benjaminhurst/.local/share/virtualenvs/opioid_study-oZUPmX6j/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/Users/benjaminhurst/.local/share/virtualenvs/opioid_study-oZUPmX6j/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
/Users/benjaminhurst/.local/share/virtualenvs/opioid_study-oZUPmX6j/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [23]:
df[(df['location_id']==0) & (df['sex_id']==2)].sort_values(by=['year'])

,location_id,location_name,lower,rank,sex_id,sex_name,sex_percentage,upper,val,year
16381,0,World,0.160143,0,2,Female,0.205464,0.256045,0.207061,1990
16387,0,World,0.168327,0,2,Female,0.201433,0.265314,0.215708,1991
16384,0,World,0.179519,0,2,Female,0.199181,0.278561,0.227739,1992
16390,0,World,0.190726,0,2,Female,0.196622,0.291385,0.239676,1993
16393,0,World,0.205954,0,2,Female,0.194054,0.309271,0.25622,1994
16396,0,World,0.216402,0,2,Female,0.189428,0.3216,0.267246,1995
16399,0,World,0.225605,0,2,Female,0.191243,0.332373,0.276863,1996
16402,0,World,0.242495,0,2,Female,0.194704,0.35198,0.294837,1997
16405,0,World,0.2525,0,2,Female,0.195538,0.36364,0.305549,1998
16408,0,World,0.263281,0,2,Female,0.19966,0.376047,0.31707,1999
16411,0,World,0.274161,0,2,Female,0.203918,0.389459,0.329123,2000
16414,0,World,0.277422,0,2,Female,0.206798,0.393486,0.332471,2001
16417,0,World,0.280512,0,2,Female,0.209741,0.397855,0.33606,2002
16420,0,World,0.284238,0,2,Female,0.21267,0.402983,0.340205,2003
16423,0,World,0.288385,0,2,Female,0.212942,0.408106,0.344852,2004
16426,0,World,0.292152,0,2,Female,0.211567,0.412682,0.349054,2005
16429,0,World,0.292345,0,2,Female,0.209804,0.413038,0.349033,2006
16432,0,World,0.296601,0,2,Female,0.209778,0.418311,0.353799,2007
16435,0,World,0.300959,0,2,Female,0.212775,0.424316,0.358994,2008
16438,0,World,0.305108,0,2,Female,0.216104,0.430504,0.363702,2009
16441,0,World,0.308296,0,2,Female,0.217454,0.435741,0.36759,2010
16444,0,World,0.312587,0,2,Female,0.218729,0.442585,0.372824,2011
16447,0,World,0.315398,0,2,Female,0.219296,0.449382,0.377174,2012
16450,0,World,0.322817,0,2,Female,0.221836,0.462637,0.387217,2013
16453,0,World,0.329132,0,2,Female,0.222469,0.476141,0.396872,2014
16456,0,World,0.339672,0,2,Female,0.223474,0.496403,0.411856,2015
16459,0,World,0.353164,0,2,Female,0.225031,0.52822,0.43403,2016
16462,0,World,0.361056,0,2,Female,0.226604,0.55777,0.451517,2017

In [ ]:
list(df_current[(df['sex_id']==1)]['val'])[0]